@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";
@theme {
    --shadow-orange-bloom: 0 0 35px var(--color-orange-300);
    --inset-shadow-orange-bloom: inset 0 0 4px var(--color-orange-300);
    --font-instrument: "Instrument Serif", serif;
    --font-opensans: "Open Sans", sans-serif;
    --font-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}
body {
    color: white;
}


.embla {
    --slide-size: 30%;
    --slide-spacing: 10px;
}